.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

tr:nth-child(even) {background-color: #f2f2f2;}

input {
  width: 60px;
}

.collapseBorder {
  border-collapse: collapse;
}

.king {
  background-color: gold;
}

input.MuiInput-input-15 {
  width: auto;
}

th.MuiTableCell-paddingDefault-43 {
  padding: 4px 6px 4px 6px;
  width: auto;
  font-size: 1rem;
  font-weight: 600;
}

td.MuiTableCell-paddingDefault-43 {
  padding: 4px 6px 4px 6px;
  width: auto;
}